<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.troygugler.gameapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WOWActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/WOW"
            android:screenOrientation="portrait" >
>

        </activity>
        <activity
            android:name=".Jabberwocky"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_jabberwocky"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".UINasa"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_uinasa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Roundball"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_roundball"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
